<script type="text/javascript" charset="utf-8">
  <% if logged_in? %>
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
  <% end %>
  window.facespaceAssets = {
    logo: '<%= asset_path('navbarlogo.png') %>'
  }
</script>
<main id="root"></main>
