.navbar {
  background-color: #3b5998;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 12;
}

.navbar img {
  width: 25px;
}

.navbar #search {
  background: white;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  padding: 2px;
  width: 450px;
  border-radius: 2px;
  margin-left: 15px;
}

.navbar .leftside {
  display: flex;
}

.navbar .rightside {
  display: flex;
  align-items: center;
}

.navbar .rightside ul {
  display: flex;
  align-items: center;
}



.navbar .rightside ul li {
  padding: 0px 10px 0px 10px;
}

#prof-link, #home-link {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
}

#prof-link {
  display: flex;
  align-items: center;
}

.navbar .rightside ul li:hover {
  background-color: #355089;
  border-radius: 5px;
}


#prof-link img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-right: 5px;
}

.navbar .log-out-container {
  border-left: 2px solid #355089;
  padding-left: 15px
}

#friends-nav-button {
  position: relative;
}

