.timeline-posts {
  position: relative;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 510px;
  justify-self: flex-end;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.post-form {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.post-form textarea {
  height: 150px;
  border-bottom: 1px solid #aaa;
  font-size: 18px;
  color: #5C6066
}

.post-form textarea:focus {
  font-size: 24px;
}

.post-form button {
  position: relative;
  align-self: flex-end;
  background-color: #4267b2;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 0px 5px 0px 5px;
  margin: 5px 20px 5px 5px;
  border: 1px solid #29487d;
  border-radius: 1px;
}

.post-form button:hover {
  background-color: #3b5998;
}

.avatar {
  width: 40px;
  height: 40px;
}


.post {
  display: flex;
  flex-direction: column;
  width: 485px;
  background-color: white;
  margin: 20px 0px 20px 0px;
  padding: 11px;
}

.post-header {
  display: flex;
}

.post i {
  padding: 2px;
}

.post #top-row {
  display: flex;
}

.post #post-info {
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 14px;
}


.post article {
  font-size: 14px;
  display: block;
}
