.timeline-posts {
  display: flex;
  flex-direction: column;
  width: 510px;
  justify-self: flex-end;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.post-form {
  background-color: white;
}
