.main-area {
  display: flex;
  justify-content: space-around;
  background-color: #edf0f5;
  padding: 20px 0px 350px 0px;
}

.signupform {
  width: 625px;
}

.signupform h2 {
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.signupform input {
  background-color: white;
  border: 1px solid #ccd4e1;
  border-radius: 4px;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
  padding: 5px;
}
