.wall {
  width: 845px;
  margin-left: 175px;
  position: relative;
  top: 45px;
}

.wall .cover {
  position: relative;
}


.wall #cover-photo {
  height: 320px;
  position: relative;
}

.wall #profile-photo {
  width: 165px;
  height: 165px;
}

.wall #cover-name {
  color: white;
  text-shadow: 0 0 3px rgba(0,0,0,.8);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  max-width: 275px;
  position: absolute;
  top: 280px;
  left: 210px;
}

.wall .add-friend {
  color: #4b4f56;
  background-color: #f6f7f9;
  position: absolute;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 1px 5px 1px;
  border-radius: 2px;
  left: 730px;
  top: 280px;
}

.wall .add-friend i {
  padding-right: 4px;
  padding-left: 4px;
}

.wall #pending-friend-request {
  left: 680px;
}

.wall .add-friend:hover {
  background-color: #e9ebee;
  cursor: pointer;
}


.wall #prof-photo-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  position: absolute;
  top: 175px;
  left: 20px;
  width: 170px;
  height: 170px;
  z-index: 1;
}

.wall #edit-prof, .wall #edit-cover {
  display:none;
}

.wall #cover-photo:hover + #edit-cover {
  position: absolute;
  display: block;
  top: 0px;
  left: 25px;
  width: 143px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.wall #prof-photo-container:hover + #edit-prof {
  display: block;
  position: absolute;
  top: 290px;
  z-index: 3;
  left: 25px;
  width: 143px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  padding: 10px;
}

.wall #edit-cover:hover {
  display: block;
  position: absolute;
  top: 0px;
  z-index: 3;
  left: 25px;
  width: 143px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  padding: 10px;
}

.wall #edit-prof:hover {
  display: block;
  position: absolute;
  top: 290px;
  z-index: 3;
  left: 25px;
  width: 143px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  padding: 10px;
}

.wall #edit-prof:after {
  content: "Update Profile Picture";
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.wall #edit-prof i {
  color: white;
  padding-right: 5px;
}

.wall #edit-cover:after {
  content: "Update Cover Photo";
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}
.wall #edit-cover i {
  color: white;
  padding-right: 5px;
}


.wall .wallnav {
  background-color: white;
  height: 43px;
  position: relative;
  border: 1px solid #d3d6db;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wall .wallnav ul {
  display: flex;
}

.wall .wallnav li {
  display: flex;
  justify-content: center;
  border-left: 1px solid #d3d6db;
  padding: 13px 20px 13px 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #4277BC;
  font-size: 14px;
}
.wall .wallnav li:hover {
  background-color: #edf0f5;
}

.wall .wallnav li:last-child{
  border-right: 1px solid #d3d6db;
}

.image-upload {
}

.image-upload nav {
  display: flex;
  justify-content: space-between;
}

.image-upload h1 {
  font-family: 'Open Sans';
}

.image-upload .uploadForm {
  display: flex;
}

.image-upload img {
  width: 165px;
  height: 165px;
}


.spinner {
  // margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  left: 100px;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
