<!DOCTYPE html>
<html>
  <head>
    <title>Facespace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/010e069ff9.js">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
